<h1 class="title">Allegheny Club List</h1>
<div class="well spaced">
  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>Actions</th>
        
      </tr>
    </thead>

    <tbody>
      <% @all_clubs.each do |club| %>
        <tr>
          <td><b><%= club.name %></b></td>
          <td><%= club.about %></td>
          <td>
            <div class="btn-group">
              <% if current_user.clubs.find { |c| c == club } %>
                <%= link_to 'Show', club, class: "btn btn-default" %>
              <% else %>
                <%= link_to 'Join!', join_club_path(club), method: :post, class: "btn btn-default" %>
              <% end %>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_club_path(club), class: "btn btn-default" %>
                <%= link_to 'Destroy', club, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
