<%= form_for(@topic) do |f| %>
  <div class="col-sm-10 text-box">  
    <% if @topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

        <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :text, :id => "message_area" %>
    </div>
    
    <%= hidden_field_tag :creator, "#{@current_user}"%>        
    
    <%= hidden_field_tag :from, from_controller_action %>

    <%= hidden_field_tag :club_name, "#{@club.name}" %>
  </div>
  <div class="col-sm-2 submit-div">
    <div class="actions">
      <%= f.submit "Create", :class => 'submit-class' %>
    </div>
  </div>
<% end %>
